/*
Colors used:
Primary / Accent Color Teal: #4FA8AD;
Primary / Accent Color Teal 10%: #358E94;
Primary / Accent Color Teal 20%: #2F7E83;
Primary / Accent Color Teal 30%: #346D74;
Neutral Black: #111111;
Neutral White: #ffffff;
Neutral Gray: #E6E6E6;
*/
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.6;
  background-color: white;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.25em;
  font-weight: 900;
  font-style: normal;
  color: #111;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.75em;
  font-weight: 900;
  font-style: normal;
  color: #111;
}

h3 {
  font-size: 1.35em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

a {
  color: #346d74;
  font-weight: 500;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #346d74;
  font-weight: 700;
  text-decoration: underline;
}

header {
  background-color: #358e94;

  a {
    color: white;
    font-weight: 400;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: #111;
    font-weight: 400;
    text-decoration: underline;
  }
}

footer {
  background-color: #e6e6e6;
}

.primarybutton {
  display: inline-block;
  background-color: #4fa8ad;
  color: #111;
  font-weight: 700;
  padding: 8px 20px;
  border-radius: 50px;
  transition: 0.2s opacity;
  text-decoration: none;
}

.primarybutton:hover,
.primarybutton:focus {
  background-color: #358e94;
  color: #111;
  font-weight: 700;
  text-decoration: none;
}

.primarybutton:active {
  background-color: #4fa8ad;
  color: #111;
  font-weight: 700;
  text-decoration: none;
}

.secondarybutton {
  display: inline-block;
  background-color: #fff;
  color: #111;
  font-weight: 600;
  padding: 4px 15px;
  border-radius: 50px;
  border: 2px solid #358e94;
  transition: 0.2s opacity;
  text-decoration: none;
}

.secondarybutton:hover,
.secondarybutton:focus {
  opacity: 0.9;
  background-color: #e6e6e6;
  color: #111;
  font-weight: 600;
  text-decoration: none;
}

.secondarybutton:active {
  background-color: #fff;
  color: #2f7e83;
  font-weight: 600;
  text-decoration: none;
}
