/*
Colors used:
Primary / Accent Color Teal: #4FA8AD;
Primary / Accent Color Teal 10%: #358E94;
Primary / Accent Color Teal 20%: #2F7E83;
Neutral Black: #111111;
Neutral White: #ffffff;
Neutral Gray: #E6E6E6;
*/

body {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.6;
    background-color: white;
}

h1, h2, h3, h4 {
    line-height: 1.4;
  }

h1 {
    font-family: "Playfair Display", serif;
    font-size: 2.75em;
    font-weight: 900;
    font-style: normal;
    color: #111111;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 2.25em;
    font-weight: 900;
    font-style: normal;
    color: #111111;
}

h3 {
    font-size: 1.75em;
    font-weight: 700;
  }

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

header {
    background-color: #358E94
}

footer {
    background-color: #E6E6E6;
}