/*
Colors used:
Primary / Accent Color Teal: #4fa8ad;
Primary / Accent Color Teal 10%: #358e94;
Primary / Accent Color Teal 20%: #2f7e83;
Primary / Accent Color Teal 30%: #346d74;
Neutral Black: #111;
Neutral White: #fff;
Neutral Gray: #e6e6e6;
*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  background-color: white;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.25em;
  font-weight: 900;
  font-style: normal;
  color: #111;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.75em;
  font-weight: 900;
  font-style: normal;
  color: #111;
}

h3 {
  font-size: 1.35em;
  font-weight: 700;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

a {
  color: #346d74;
  font-weight: 500;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #346d74;
  font-weight: 700;
  text-decoration: none;
}

header {
  background-color: #358e94;
  text-align: center;
  padding: 15px 0 20px;
}

footer {
  background-color: #e6e6e6;
  text-align: center;
  padding: 10px 0 15px;
}

.primarybutton {
  display: inline-block;
  background-color: #4fa8ad;
  color: #111;
  font-weight: 700;
  padding: 8px 20px;
  border-radius: 50px;
  transition: 0.2s opacity;
  text-decoration: none;
}

.primarybutton:hover,
.primarybutton:focus {
  background-color: #358e94;
  color: #111;
  font-weight: 700;
  text-decoration: none;
}

.primarybutton:active {
  background-color: #4fa8ad;
  color: #111;
  font-weight: 700;
  text-decoration: none;
}

.secondarybutton {
  display: inline-block;
  background-color: #fff;
  color: #111;
  font-weight: 600;
  padding: 4px 15px;
  border-radius: 50px;
  border: 2px solid #358e94;
  transition: 0.2s opacity;
  text-decoration: none;
}

.secondarybutton:hover,
.secondarybutton:focus {
  opacity: 0.9;
  background-color: #e6e6e6;
  color: #111;
  font-weight: 600;
  text-decoration: none;
}

.secondarybutton:active {
  background-color: #fff;
  color: #2f7e83;
  font-weight: 600;
  text-decoration: none;
}

/* Layout styling */

#header-logo {
  max-width: 250px;
}

.icons {
  width: 70%;
  max-width: 50px;
  padding: 0 5px;
  text-decoration: none;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 10px 0;
  padding-bottom: 10px;
}

.workrow {
  margin: 30px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  text-align: center;
  margin: 0;
  padding: 10px 0 25px;
  background-color: #e6e6e6;
}

#mywork {
  text-align: center;
}

#project {
  text-align: center;
}

#about h1 {
  text-align: center;
}

#work {
  padding-bottom: 20px;
}

#about {
  padding-bottom: 20px;
}

#project {
  padding-bottom: 20px;
}
